# experiment name
exp_name=openloop_testing

# experiment directory
#EXPDIR=./

# ensemble_size of 1 = do not run ensemble
# LETKF-OI pseudo ensemble uses 1
ensemble_size=1

# options: gdas, gswp3, gefs_ens
atmos_forc='gdas'

# number of cycles to submit in a single job
dates_per_job=2

# select YES or NO, YES for doing full DA update
do_DA=YES

# use JEDI to calculate hofx, but do not do update
# only used if do_DA=NO
do_hofx=NO

# 
ASSIM_IMS=NO
ASSIM_GHCN=YES
ASSIM_SYNTH=NO

# options: "letkfoi_snow" , "letkf_snow"
DAtype="letkfoi_snow"

# temporary work dir
WORKDIR=/scratch2/BMC/gsienkf/Clara.Draper/workdir/

# OUTDIR for experiment with initial conditions
# will use ensemble of restarts if present, otherwise will try 
# to copy a non-ensemble restart into each ensemble restart
ICSDIR="/scratch2/BMC/gsienkf/Clara.Draper/DA_test_cases/offline_ICS/single/"
